.container {
    display: grid;
    grid-template-rows: -0.17fr 0.6fr 0.3 fr;
    grid-template-columns: auto -0.2fr -0.4fr;
    height: 45vh;
    grid-template-areas:
            "header header header"
            "leftsidebar main rightsidebar"
            "footer footer footer"
    ;   
    row-gap: 5px;
    column-gap: 10px;
    text-align: center;
    text-transform:uppercase;
    grid-column-end: auto;
    place-content: center;
    align-content: stretch;
    place-content: bottom case;
}
header {
    background-color:#fe8515;
    grid-area: header;
    color: white;
    place-content: center;
    align-content: center;
}
main {
    background-color: #8BF10A;
    grid-area: main;
    border-radius: 10px;
    color: white;
}
.leftsidebar {
    background-color:#7FC242;
    grid-area: leftsidebar;
    border-radius: 10px;
    color: white;
    text-justify: auto;
}
.rightsidebar{
    background-color: #7fc242;
    grid-area: rightsidebar;
    border-radius: 10px;
    color: white;
}
footer{
    background-color: #f57e20;
    grid-area: footer;
    text-align: center;
}